/*Header*/
.fc-header-right {
  	visibility: hidden;
}

.fc-header {
	display: flex;
}

@media (min-width: 768px) {
	.fc-header tr:first-child{
		display: flex;
	}
		
	.fc-header-left {
		margin-right: auto;
	}
	
	.fc-header-center {
		margin: 0 auto;
	}
		
	.fc-header-right {
		margin-left: auto;
	}
}

@media (min-width: 588px) {
	.fc-header-right {
  		visibility: visible;
	}
}

@media (min-width: 440px) {
	.fc-header tr{
		width: 100%;
	}
}


/*Content*/
.fc-sat{
    color: #4ba9ce !important;
}
.fc-sun{
    color: #cc0000 !important;
}

.fc-day:hover{
	background-color: #EEEEEE;
}

.fc-content tbody{
	cursor: pointer;
}

.fc-day-off{
	background-color: #EEEEEE;
}