/*Header*/
.fc-header-right {
  	visibility: hidden;
}

.fc-header {
	display: flex;
}

@media (min-width: 768px) {
	.fc-header tr:first-child{
		display: flex;
	}
		
	.fc-header-left {
		margin-right: auto;
	}
	
	.fc-header-center {
		margin: 0 auto;
	}
		
	.fc-header-right {
		margin-left: auto;
	}
}

@media (min-width: 588px) {
	.fc-header-right {
  		visibility: visible;
	}
}

@media (min-width: 440px) {
	.fc-header tr{
		width: 100%;
	}
}


/*Content*/
.fc-sat{
    color: #4ba9ce !important;
}
.fc-sun{
    color: #cc0000 !important;
}

.fc-day:hover{
	background-color: #EEEEEE;
}

.fc-content tbody{
	cursor: pointer;
}

/*Custom core bootstrap*/
.row{
	margin: 0;
}

.row-container{
	margin: 4rem 0;
}

.d-none{
	display: none;
}


/*Image*/
.img-raised {
	box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.rounded{
	border-radius:.25rem!important
}

.img-container{
	width: 75%;
	height: auto;
	margin: 0 auto;
}

@media (min-width: 588px) {
	.img-container{
		height: 30rem;
	}
}

.img-custom{
	width: 100%;
	height: 100%;
	/*background-size: cover;
	background-position: center;*/
  	object-fit: cover;
	border-radius: 1rem;
    position:relative;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.img-pitch:hover{
	cursor: pointer;
	top: -1rem;
}